.footer__content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px 60px;
    text-align: center;
    background: $bg;
    gap: 21px;
}
.footer__location{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.footer__feedback{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  order: 1;
}

.copyright{
  position: absolute;
  right: 60px;
}

.footer__address{
    @include font-face(400, 16px, 20px);
    color: $main;
  }
  .footer__one-map{
    @include font-face(700, 12px, 15px);
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $regular;
  }
  .footer__social{
    svg{
      fill: $regular;
    }
    svg:hover{
      fill: $assent;
    }
  }
  .footer__contact{
    @include font-face(700, 16px, 20px);
    color: $alt;
  }
  .footer__mail{
    @include font-face(700, 16px, 20px);
    a{
      color: $regular;
    }
    a:hover{
      color: $assent;
    }
  }
  .copyright{
    @include font-face(400, 16px, 20px);
    color: $text;
  }














@media (max-width: 995px){
  .footer__content{
    
    flex-direction: column;
    align-items: center;
    padding: 32px;
    gap: 21px;
}
.footer__location{
  flex-direction: row;
  align-items: center;
  width: 93.05vw;
  gap: 10px;
}
.footer__feedback{
  
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;

}

.copyright{
  position: static;
  order: 1;
}

}

@media (max-width: 564px){
 
.footer__content{
  align-items: center;
  padding: 32px;
  text-align: center;
  gap: 21px;

}
.footer__location{
  flex-direction: column;
  gap: 10px;
}
.footer__feedback{
  flex-direction: column;
  gap: 10px;
  
}
}