@media (max-width: 580px){
    .menu__btn {
      display: flex; /* используем flex для центрирования содержимого */
      align-items: center;  /* центрируем содержимое кнопки */
      position:absolute;
      top: 50px;
      right: 15px;
      width: 32px;
      height: 32px;
      cursor: pointer;
      z-index: 1;
    }
  
    /* добавляем "гамбургер" */
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after{
    display: block;
    position: absolute;
    left: 0;
    
   
  }
  .menu__btn > span::before {
    content: url(../images/Hamburger.svg);
    top: -16px;
    
  }
  .menu__btn > span::after {
      content: '';
      top: -16px;
     
    }

    .menu__btn-page {
      display: flex; /* используем flex для центрирования содержимого */
      align-items: center;  /* центрируем содержимое кнопки */
      position:absolute;
      top: 50px;
      right: 15px;
      width: 32px;
      height: 32px;
      cursor: pointer;
      z-index: 1;
    }
  
    /* добавляем "гамбургер" */
  .menu__btn-page > span,
  // .menu__btn-page > span::before,
  .menu__btn-page > span:focus{
    display: block;
    position: absolute;
    
   
  }
  .menu__btn-page > span{
    svg{
      stroke: $white;
    }
    top: 1px;
    
  }
  .menu__btn-page > span:focus{
      
      top: 1px;

      
     
    }
    /* контейнер меню */
  .header__menu-box {
    display: block;
    position: absolute;
    visibility: hidden;
    bottom: 0;
    width: 359px;
    height: 351px;
    padding: 80px 0;
    text-align: center;
    background-color: $white;
    border-radius: 12px 12px 0px 0px;
  
  }
  .header__menu-box--homepage {
    display: block;
    position: absolute;
    visibility: hidden;
    bottom: 0;
    width: 359px;
    height: 351px;
    padding: 80px 0;
    text-align: center;
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    border-radius: 12px 12px 0px 0px;
  
  }


  .header__menu{
    ul{
    flex-direction: column;
    
    gap: 20px;
    }
    li{
      background: $bg;
      border-radius: 12px;
    }
  }
  /* элементы меню */
  .menu__inner {
    display: block;
    padding: 7px 112px;
    text-decoration: none;
   
  }
  .menu__inner:hover {
    background-color: $separator;
  }
  
  #menu__toggle:checked ~ .menu__btn > span::before {
    content: url(../images/Hamburger.svg);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    content: url(../images/Hamburger\ active.svg);
  }
  #menu__toggle:checked ~ .header__menu-box {
    visibility: visible;
    right: 8px;
    padding: 64px 12px 12px 12px;
    
  }

}