@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: none;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  color: #000000;
}

/* Подключение шрифтов */
/* Цвет */
/* Цвет активации значков и кнопок */
/* Оттенки серого фона */
/* Градиенты */
/* Миксин шрифта */
html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.slides {
  display: none;
}

img {
  vertical-align: baseline;
}

.aboutpage__content-inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 60px 0;
}

.content-inner--booton {
  gap: 60px;
}

.aboutpage__advantage-box {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.conteiner {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.content-inner__text-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 44px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  max-width: 49.06vw;
  margin-bottom: 28px;
}

.text-title--booton {
  max-width: 18.85vw;
}

.content-inner__text-discription {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 1.188rem;
  line-height: 30px;
  color: #000000;
  width: 49.06vw;
}

.text-discription--booton {
  width: 48.85vw;
}

.conteiner {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 13px;
}

.box-number {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 2.375rem;
  line-height: 46px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.box-description {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 20px;
  color: #323264;
  max-width: 18.44vw;
  margin-bottom: 40px;
}

.aboutpage__photo-bg {
  background-image: url(../images/Team.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.aboutpage__photo-bg p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 6rem;
  line-height: 6.09vw;
  text-align: center;
  padding: 12.29vw 37.55vw;
  letter-spacing: 3.28vw;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0px 15px 30px rgba(40, 40, 86, 0.8);
}

.aboutpage__slider {
  background: #F5F5FA;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutpage__slider-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 17px;
  color: #323264;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 30px 0;
}

.aboutpage__slider-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2.08vw;
}

.slider-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 0.63vw;
  width: 19.27vw;
  height: 5.73vw;
}
.slider-bg img {
  height: 63%;
  width: auto;
}

.box-dot {
  background: #F5F5FA;
  text-align: center;
  padding: 30px 0;
}

.dot {
  height: 16px;
  width: 16px;
  margin: 0 2px;
  background-color: #006CCF;
  opacity: 0.2;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot:hover {
  background-color: #006CCF;
  opacity: 0.6;
}

.active {
  background-color: #006CCF;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.aboutpage-lines {
  border: 2px solid #E6E6F0;
  max-width: 92.125vw;
  border-radius: 2px;
  background-color: #F5F5FA;
  margin: auto;
}

/* Шапка сайта */
.header-bgr {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  border-radius: 0px 0px 12px 12px;
  width: 100%;
  height: auto;
}

.header-img-logo {
  background-image: url(../images/Symbol.png);
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  background-position: 50% 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px 60px 0px 60px;
}

.header-homepage {
  padding: 50px 60px 681px 60px;
}

.logo-name-page {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.logo__name a {
  display: flex;
  flex-direction: row;
  gap: 6px;
  max-width: 130px;
}
.logo__name a svg {
  fill: #323264;
}
.logo__name a-slash {
  max-width: 21px;
}

.logo__name-homepage a svg {
  fill: #FFFFFF;
}

.name-page {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: #323264;
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: end;
}

.navigation-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.langbar ul {
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.langbar__item a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #B3B3BA;
  padding: 5px 7px;
  letter-spacing: 1px;
}
.langbar__item a:hover {
  padding: 5px 7px;
  background: #F5F5FA;
  border-radius: 8px;
}

.langbar__item-homepage a {
  color: #FFFFFF;
}
.langbar__item-homepage a:hover {
  padding: 5px 7px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}

.langbar__item--red a {
  background: #F0145A;
  border-radius: 8px;
  color: #FFFFFF;
}
.langbar__item--red a:hover {
  background: #F0145A;
  color: #FFFFFF;
}

.address {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #B3B3BA;
}

.address-homepage {
  color: #FFFFFF;
}

.contact {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
.contact a {
  color: #B3B3BA;
}

.contact-homepage a {
  color: #FFFFFF;
}

.social svg {
  fill: #B3B3BA;
}

.social svg:hover {
  fill: #F0145A;
}

.social-homepage svg {
  fill: #FFFFFF;
}

.delimiter span:before {
  content: url(../images/delimiter.svg);
}

#menu__toggle {
  opacity: 0;
}

.header__menu {
  display: flex;
  flex-direction: row;
  align-items: end;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
.header__menu ul {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.menu__inner a {
  color: #24A3FF;
}
.menu__inner a:hover {
  border-bottom: 2px solid #24A3FF;
}

.menu__inner-homepage a {
  color: #FFFFFF;
}
.menu__inner-homepage a:hover {
  border-bottom: 2px solid #FFFFFF;
}

.menu__inner--red a {
  color: #F0145A;
  border-bottom: 2px solid #F0145A;
}
.menu__inner--red a:hover {
  color: #F0145A;
  border-bottom: 2px solid #F0145A;
}

@media (max-width: 932px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 105px 90px 0 60px;
    gap: 15px;
  }
  .navigation {
    gap: 30px;
  }
  .navigation-top {
    position: absolute;
    top: 50px;
    left: 60px;
  }
}
@media (max-width: 564px) {
  .header {
    height: 92px;
  }
  .navigation-top {
    width: 100%;
    justify-content: space-between;
    padding: 10px 15px;
    background: #F5F5FA;
    top: 0px;
    left: 0px;
  }
  .address {
    display: none;
  }
  .delimiter {
    display: none;
  }
  .social {
    display: none;
  }
  .menu__inner {
    display: none;
  }
  .header {
    padding: 41px 90px 0 18px;
    gap: 0;
  }
  .logo-name-page {
    align-items: center;
  }
  .logo__name {
    gap: 3px;
    width: 70px;
    height: 54px;
  }
  .logo__name-slash {
    width: 11px;
  }
  .name-page {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 5px;
  }
}
@media (max-width: 564px) {
  .menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center; /* центрируем содержимое кнопки */
    position: fixed;
    top: 50px;
    right: 15px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    z-index: 1;
  }
  /* добавляем "гамбургер" */
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
  }
  .menu__btn > span::before {
    content: url(../images/Hamburger.svg);
    top: -16px;
  }
  .menu__btn > span::after {
    content: "";
    top: -16px;
  }
  /* контейнер меню */
  .header__menu-box {
    display: block;
    position: absolute;
    visibility: hidden;
    bottom: 0;
    width: 359px;
    height: 351px;
    padding: 80px 0;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 12px 12px 0px 0px;
  }
  .header__menu ul {
    flex-direction: column;
    gap: 20px;
  }
  .header__menu li {
    background: #F5F5FA;
    border-radius: 12px;
  }
  /* элементы меню */
  .menu__inner {
    display: block;
    padding: 7px 112px;
    text-decoration: none;
  }
  .menu__inner:hover {
    background-color: #E6E6F0;
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    content: url(../images/Hamburger.svg);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    content: url(../images/Hamburger\ active.svg);
  }
  #menu__toggle:checked ~ .header__menu-box {
    visibility: visible;
    right: 8px;
    padding: 64px 12px 12px 12px;
  }
}
.header__title-homepage {
  position: absolute;
  left: 38%;
  top: 39%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  text-align: center;
  color: #FFFFFF;
}

.header__homepage-btn {
  position: absolute;
  left: 48%;
  bottom: 175px;
}
.header__homepage-btn svg {
  stroke: #FFFFFF;
}
.header__homepage-btn svg:hover {
  stroke: #F0145A;
}

.header__content-homepage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 60px 0;
  margin-left: 14.58vw;
  gap: 60px;
}

.header__content-menu-homepage {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 30px;
}

.content-menu-homepage {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
}
.content-menu-homepage a {
  color: #B3B3BA;
}
.content-menu-homepage a:hover {
  color: #F0145A;
}

.content-menu-homepage--red a {
  background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.delimiter-lines {
  border-left: 4px solid rgba(255, 255, 255, 0.3);
  height: 303px;
}

.header__content-homepage-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.header__content-homepage-subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: #FFFFFF;
}

.header__content-homepage-description {
  width: 861px;
}
.header__content-homepage-description p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  color: #FFFFFF;
}

.header__homepage-services {
  margin-left: 8.33vw;
}
.header__homepage-services p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
}
.header__homepage-services p svg {
  stroke: #24A3FF;
}
.header__homepage-services p::before {
  content: "";
  position: relative;
  left: 92px;
}
.header__homepage-services p:hover {
  color: #F0145A;
}
.header__homepage-services p:hover svg {
  stroke: #F0145A;
}

.homepage-services-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.box-icon-services {
  background-color: #FFFFFF;
  border-radius: 24px;
  padding: 14px 14px;
  width: 92px;
  height: 92px;
  margin-bottom: 15px;
}

.box-title-services {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #24A3FF;
}

.box-description-services {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}

.block-content-box-services {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.block-content-services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: start;
  gap: 60px;
  padding: 60px 160px;
}

.delimiter__lines-page1 {
  background: #CACADB;
  border-radius: 0px 0px 12px 12px;
  max-width: 96.92vw;
  height: 10px;
  margin: auto;
}

.delimiter__lines-page2 {
  background: #e7e7f2;
  border-radius: 0px 0px 12px 12px;
  max-width: 94.83vw;
  height: 10px;
  margin: auto;
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px 60px;
  text-align: center;
  background: #F5F5FA;
  gap: 21px;
}

.footer__location {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.footer__feedback {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  order: 1;
}

.copyright {
  position: absolute;
  right: 60px;
}

.footer__address {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #323264;
}

.footer__one-map {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
}

.footer__social svg {
  fill: #24A3FF;
}
.footer__social svg:hover {
  fill: #F0145A;
}

.footer__contact {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #46466E;
}

.footer__mail {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
.footer__mail a {
  color: #24A3FF;
}
.footer__mail a:hover {
  color: #F0145A;
}

.copyright {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #B3B3BA;
}

@media (max-width: 768px) {
  .footer__content {
    flex-direction: column;
    align-items: center;
    padding: 32px;
    gap: 21px;
  }
  .footer__location {
    flex-direction: row;
    align-items: center;
    width: 385px;
    gap: 10px;
  }
  .footer__feedback {
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
  }
  .copyright {
    position: static;
    order: 1;
  }
}
@media (max-width: 564px) {
  .footer__content {
    align-items: center;
    padding: 32px;
    text-align: center;
    gap: 21px;
  }
  .footer__location {
    flex-direction: column;
    gap: 10px;
  }
  .footer__feedback {
    flex-direction: column;
    gap: 10px;
  }
}/*# sourceMappingURL=style.css.map */